ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html.menu-opened {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  // background-image: url(../images/top-right-bg.svg);
  // background-position: top right;
  // background-repeat: no-repeat;
  // background-size: 470px;
  //
  //
  @include breakpoint($desk) {
    padding-top: 97px !important;

    header {
      top: 0;
    }

    &.menu-0-opened.scrolled {
      header {
        z-index: 999 !important;
        overflow: visible !important;
      }
    }

    &.menu-0-opened {
      header {
        z-index: 999;
      }
    }

    &.toolbar-horizontal.toolbar-tray-open {
      padding-top: 176px !important;

      header {
        top: 79px;
      }
    }

    &.toolbar-fixed {
      padding-top: 136px !important;

      header {
        top: 39px;
      }
    }

    &.scrolled {
      header {
        z-index: 99;
        overflow: hidden;

        .bg {
          // display: none;
        }
      }
    }
  }
}

#block-kd-local-tasks {
  @extend .container-wrapper;
  text-align: center;

  ul {
    padding: 15px 0;
    border-bottom: 1px solid $black;

    li {
      display: inline-block;
      margin: 0 5px;

      a {
        color: $white;
        background: $black;
        border: 1px solid $black;
        border-bottom: 0;
        line-height: 20px;
        padding: 0 10px;
        font-size: 18px;
        text-transform: uppercase;
        display: block;

        &:hover {
          background: $white;
          color: $black;
        }
      }
    }
  }
}

a {
  transition: all 0.2s ease-in-out;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.messages {
  z-index: 3;
  position: relative;
}

.messages-wrapper {
  font-size: 14px;

  .message {

    &.message-error {
      background: #FF9494;
      color: $white;
    }

    &.message-status {
      background: #4BB543;
      color: $white;
    }

    ul.messages-list {
      @extend .container-wrapper;

      li {
        padding: 10px;
        line-height: 25px;
      }
    }
  }
}

form.user-login-form {
  text-align: center;
  padding: 20px 20px !important;

  label {
    display: block;
  }
}

.page-404,
.page-403 {
  #block-kd-content {
    padding: 20px 20px !important;
    font-size: 16px;
    text-align: center;

    @include breakpoint($tab) {
      font-size: 20px;

      @include breakpoint($desk) {
        padding: 40px 20px !important;
        font-size: 24px;

        @include breakpoint($wide) {
          font-size: 30px;
        }
      }
    }
  }
}

.efka-btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  color: $light-blue;
  background: $white;
  border: 2px solid $light-blue;
  border-radius: 25px;
  line-height: 20px;
  transition: all 0.2s;

  &:hover {
    background: $light-blue;
    color: $white;
  }

  &.purple {
    color: $dark-purple;
    border: 2px solid $dark-purple;

    &:hover {
      background: $dark-purple;
      color: $white;
    }
  }
}

.efka-arrow-btn {
  background: url(../images/arrow.svg);
  background-size: cover;
  width: 15px;
  height: 11px;
  font-size: 0;
  display: inline-block;
  position: relative;
  transition: all 0.2s;
  left: 0;

  &.blue {
    background: url(../images/arrow-blue.svg);
  }

  &.light-blue {
    background: url(../images/arrow-light-blue.svg);
  }
}

.full-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

* {
  outline: 0;
}

.pager {
  text-align: center;
  padding: 30px 30px;

  @include breakpoint($tab) {
    padding: 30px 0px;
  }

  li {
    display: inline-block;
    vertical-align: middle;

    &.pager__item {
      margin: 0 5px;

      a {
        color: $font-gray;
      }

      &:hover,
      &.is-active {
        a {
          color: $light-blue
        }
      }
    }

    &.pager__item--previous,
    &.pager__item--next {
      a {
        display: block;
        font-size: 0;
        border: 1px solid $border-gray;
        width: 35px;
        height: 35px;
        background: none;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $white;
        cursor: pointer;

        span {
          font-size: 0;
        }
      }
    }

    &.pager__item--previous {
      margin-right: 20px;

      a {
        background-image: url(../images/arrow-left-light-blue.svg);
      }
    }

    &.pager__item--next {
      margin-left: 20px;

      a {
        background-image: url(../images/arrow-light-blue.svg);
      }
    }
  }
}
