.searchbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  z-index: 3;

  @include breakpoint($tab) {
    background-image: url(../images/search-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .iridium-container {
    @include breakpoint(0 767px) {
      padding: 0;
    }
  }

  &:before {
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    background: $dark-purple;
    z-index: -1;

    @include breakpoint($tab) {
      content: '';
    }
  }

  &:after {
    content: none;
    display: block;
    position: absolute;
    width: 25%;
    right: 0;
    top: 0;
    bottom: 0;
    background: $light-purple;
    z-index: -2;

    @include breakpoint($tab) {
      content: '';

      @include breakpoint($desk) {
        content: none;
      }
    }
  }

  .searchbar-left {
    padding: 30px;
    background: $dark-purple;

    @include breakpoint($tab) {
      padding: 30px 0px;
      float: left;
      height: 100%;
      padding-right: 25px;
      width: 68.92%;

      @include breakpoint($desk) {
        width: 59.65%;
        padding-right: 20%;
      }
    }
  }

  .searchbar-right {
    padding: 30px;
    background: $light-purple;

    @include breakpoint($tab) {
      float: left;
      height: 100%;
      padding: 30px 0 0;
      min-height: 40px;
      width: 31.08%;
      padding-left: 25px;

      @include breakpoint($desk) {
        padding-left: 80px;
        width: 40.35%;
      }
    }
  }

  .iridium-container {
    width: 100%;
  }

  #block-frontpagegreetings {
    color: $white;

    .greetings {
      margin-bottom: 15px;
      font-size: 26px;

      @include breakpoint($tab) {
        font-size: 28px;

        @include breakpoint($desk) {
          font-size: 36px;
        }
      }
    }

    .search-text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;

      @include breakpoint($tab) {
        font-size: 18px;

        @include breakpoint($desk) {
          font-size: 22px;
        }
      }
    }
  }

  #block-search-page-form {
    position: relative;

    .js-form-type-textfield {
      width: 100%;

      input {
        outline: 0;
        width: 100%;
        border-radius: 25px;
        border: 2px solid $border-gray;
        line-height: 47px;
        height: 48px;
        padding: 0 15px;
        padding-right: 50px;
        font-size: 14px;
        color: $font-purple;

        @include placeholder {
          font-size: 14px;
          color: $font-purple;
        };
      }
    }

    .form-actions {
      input {
        @include vertical-align;
        right: 5px;
        background-color: $yellow;
        font-size: 0;
        border: 0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-image: url(../images/magnify.svg);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        outline: 0;
        transition: all 0.15s ease-in;
        backface-visibility: hidden;
        perspective: 1000px;

        &:hover {
          background-color: darken($yellow, 15);
        }
      }
    }
  }

  #block-views-block-recommended-searches-block-1 {
    margin-top: 20px;

    .title {
      color: $white;
      font-size: 13px;
      line-height: 14px;
      margin-bottom: 10px;

      @include breakpoint($tab) {
        width: 25%;
        float: left;
        margin-bottom: 0;
      }
    }

    .content {

      @include breakpoint($tab) {
        width: 75%;
        float: left;
      }

      .views-row {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
      }
    }
  }

  #block-searchblockmenu {
    h3 {
      color: $white;
      margin-bottom: 20px;
      font-size: 20px;

      @include breakpoint($tab) {
        font-size: 22px;

        @include breakpoint($desk) {
          font-size: 24px;
        }
      }
    }

    .menu-item {
      position: relative;
      line-height: 38px;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        color: white;
        font-size: 16px;
        font-weight: 600;

        &:after {
          position: absolute;
          content: '';
          height: 3px;
          width: 70px;
          background: #a374b2;
          top: 0;
          left: 0;
          transition: all 0.2s;
        }

        &:hover {
          &:after {
            width: 100px;
          }
        }
      }
    }
  }
}

.tag {
  padding: 0 15px;
  line-height: 25px;
  color: $white;
  background: $font-purple;
  border-radius: 25px;
  font-size: 13px;
  display: block;
  transition: all 0.2s;

  &:hover {
    background: darken($font-purple, 5%);
  }
}


#block-exposedformsearchpage {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 50px;

  @include breakpoint($tab) {
    padding: 0;
    margin-bottom: 30px;
    width: 350px;
  }

  form {
    position: relative;
  }

  .js-form-type-textfield {
    width: 100%;

    input {
      outline: 0;
      width: 100%;
      border-radius: 25px;
      border: 2px solid $border-gray;
      line-height: 41px;
      padding: 0 15px;
      font-size: 14px;
      color: $font-purple;

      @include placeholder {
        font-size: 14px;
        color: $font-purple;
      };
    }
  }

  .form-actions {
    input {
      @include vertical-align;
      right: 5px;
      background-color: $yellow;
      font-size: 0;
      border: 0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-image: url(../images/magnify.svg);
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      outline: 0;
      transition: all 0.15s ease-in;
      backface-visibility: hidden;
      perspective: 1000px;

      &:hover {
        background-color: darken($yellow, 15);
      }
    }
  }
}
