.iridium-container {
  @include breakpoint($tab) {
    padding: 0 $container-padding;

    @include breakpoint($desk) {
      max-width: $desk;
      margin: 0 auto;

      @include breakpoint($wide) {
        max-width: $container-max-width;
      }
    }
  }
}

.row {
  @include clearfix;
}

.col50 {
  width: 50%;
  float: left;
}

.square {
  @include aspect-ratio(1, 1);
}

.vertical-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}
