

body {
  font-family: 'Source Sans Pro', sans-serif;
}

  
@media (min-width: 1024px) {
	.mob-subheader {
		display: none;
	}
}



@media (min-width: 1024px) {
	header #block-kd-branding {
		display: inline-block;
	}
}
header #block-kd-branding {
    /* display: none; */
    vertical-align: middle;
}





header .iridium-container {
    position: relative;
}

